# Port pelayan aplikasi
PORT=3000

# Sambungan MongoDB Atlas
# Ganti <username>, <password>, dan nama cluster dengan maklumat anda sendiri.
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/aduan_kpdn?retryWrites=true&w=majority